.popular {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: .5em 0;
    .popularBox {
        width: 200px;
        height: 180px;
        img {
            width: 100%;
        }
    }
}